{% extends "base.html" %}

{% block content %}
<h3>Title IX Assistant</h3>
<p>Ask questions about Title IX policies, sexual misconduct procedures, campus safety reports, and related resources at Middle Georgia State University.</p>
<details>
    <summary class="tag">The AI may provide inaccurate information. </summary>
    <p>Be sure to verify any information provided.</p>
</details>

<details>
    <summary>Security Warning</summary>
    <p>Currently, messages between the user and the AI may contain are saved in-memory, which means they are accessible to anyone else using this application until the machine restarts. Do not upload sensitive, confidential, or personal information.</p>
</details>
<section class="container" style="width: 70vw;">
<div id="messageHistory">
{% include "chatbot_messages.html" %}
</div>
<form action="/chatbot/message" method="post" hx-post="/chatbot/message" hx-target="#messageHistory" hx-swap="beforeend" hx-on::after-request="this.reset()"
x-data="{ loading: false }" 
      @htmx:before-request="loading = true; setTimeout(() => loading = false, 4000)"
      :aria-busy="loading"
>
<fieldset role="group">
    <input name="user_message" placeholder="Ask about MGA Title IX policies, reporting, resources…" required x-bind:aria-busy="loading"/>
    <button type="submit"
        x-bind:aria-busy="loading">Submit</button>
</fieldset>
</form>
</section>

{% endblock %}